@font-face {
    font-family: 'DM Sans 18pt';
    src: url('./DMSans18pt-Black.eot');
    src: url('./DMSans18pt-Black.eot?#iefix') format('embedded-opentype'),
        url('./DMSans18pt-Black.woff2') format('woff2'),
        url('./DMSans18pt-Black.woff') format('woff'),
        url('./DMSans18pt-Black.ttf') format('truetype'),
        url('./DMSans18pt-Black.svg#DMSans18pt-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 18pt';
    src: url('./DMSans18pt-Bold.eot');
    src: url('./DMSans18pt-Bold.eot?#iefix') format('embedded-opentype'),
        url('./DMSans18pt-Bold.woff2') format('woff2'),
        url('./DMSans18pt-Bold.woff') format('woff'),
        url('./DMSans18pt-Bold.ttf') format('truetype'),
        url('./DMSans18pt-Bold.svg#DMSans18pt-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 18pt';
    src: url('./DMSans18pt-ExtraBold.eot');
    src: url('./DMSans18pt-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./DMSans18pt-ExtraBold.woff2') format('woff2'),
        url('./DMSans18pt-ExtraBold.woff') format('woff'),
        url('./DMSans18pt-ExtraBold.ttf') format('truetype'),
        url('./DMSans18pt-ExtraBold.svg#DMSans18pt-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 18pt';
    src: url('./DMSans18pt-ExtraLight.eot');
    src: url('./DMSans18pt-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('./DMSans18pt-ExtraLight.woff2') format('woff2'),
        url('./DMSans18pt-ExtraLight.woff') format('woff'),
        url('./DMSans18pt-ExtraLight.ttf') format('truetype'),
        url('./DMSans18pt-ExtraLight.svg#DMSans18pt-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 18pt';
    src: url('./DMSans18pt-Light.eot');
    src: url('./DMSans18pt-Light.eot?#iefix') format('embedded-opentype'),
        url('./DMSans18pt-Light.woff2') format('woff2'),
        url('./DMSans18pt-Light.woff') format('woff'),
        url('./DMSans18pt-Light.ttf') format('truetype'),
        url('./DMSans18pt-Light.svg#DMSans18pt-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 18pt';
    src: url('./DMSans18pt-Medium.eot');
    src: url('./DMSans18pt-Medium.eot?#iefix') format('embedded-opentype'),
        url('./DMSans18pt-Medium.woff2') format('woff2'),
        url('./DMSans18pt-Medium.woff') format('woff'),
        url('./DMSans18pt-Medium.ttf') format('truetype'),
        url('./DMSans18pt-Medium.svg#DMSans18pt-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 18pt';
    src: url('./DMSans18pt-SemiBold.eot');
    src: url('./DMSans18pt-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./DMSans18pt-SemiBold.woff2') format('woff2'),
        url('./DMSans18pt-SemiBold.woff') format('woff'),
        url('./DMSans18pt-SemiBold.ttf') format('truetype'),
        url('./DMSans18pt-SemiBold.svg#DMSans18pt-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 18pt';
    src: url('./DMSans18pt-Regular.eot');
    src: url('./DMSans18pt-Regular.eot?#iefix') format('embedded-opentype'),
        url('./DMSans18pt-Regular.woff2') format('woff2'),
        url('./DMSans18pt-Regular.woff') format('woff'),
        url('./DMSans18pt-Regular.ttf') format('truetype'),
        url('./DMSans18pt-Regular.svg#DMSans18pt-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

